/* Below background CSS obtained via this tool: https://superdesigner.co/tools/css-backgrounds */
body {
    background: linear-gradient(25deg, #1DB954 40%, transparent 41%, transparent 59%, #1DB954 60%)  ,linear-gradient(90deg, transparent 45%, #535353 45%, #535353 55%, transparent 55%, transparent 20%, #535353 20%, #535353 30%,transparent 30%) ,linear-gradient(90deg, #535353 9%, transparent 10%);
    background-size: 2em 2em;
    background-color: #1DB954;
    opacity: 1
}

a.sptGrn, p.sptGrn, span.sptGrn, h5.sptGrn {
    color: #1DB954;
}

a.sptGrn:hover {
    color: white;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #AA0000;
}

.navbar-dark .navbar-brand:hover, .navbar-brand:focus {
    color: white;
}

.navbar-dark .navbar-brand {
    color: #1DB954;
}

/*
img.bg {
    -webkit-filter: blur(5px) grayscale(100%);
    filter: blur(1px) grayscale(100%);
}*/

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}